.profilePopover {
  background-color: white;
  border-radius: 3px;
  padding: 5px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) ;
}

.profilePopover__menuItem {
  padding: 3px 20px;
  cursor: pointer;
}

.profilePopover__menuItem:hover {
  background-color: #eee;
}

.profilePopover__menuItem--disabled {
  cursor: default;
  color: #bbb;
}

.profilePopover__menuItem--disabled:hover {
  background-color: transparent;
}

.profilePopover__menuDivider {
  border-bottom: 1px solid #e5e5e5;
}
