@import "../constants/index.js";

[data-reach-dialog-overlay] {
  z-index: $zIndexModalBackdrop;
  overflow-x: auto;
  animation: modalOverlayFade 0.15s ease;
}

[data-reach-dialog-content] {
  padding: 0;
  margin: 30px auto;
  animation: modalSlideDown 0.3s ease;
}

.modal {
  background-color: white;
  width: 600px;
  border: 1px solid var(--colour-background-dark);
  box-shadow: 0px 5px 20px rgba(49, 142, 228, 0.1);
  border-radius: 4px;

  @media only screen and (max-width: 768px) {
    margin: 10px;
    width: auto;
  }

  &--small {
    width: 300px;
    margin: 30px auto;

    @media only screen and (max-width: 320px) {
      margin: 10px;
      width: auto;
    }
  }

  &--large {
    width: 900px;

    @media only screen and (max-width: 1024px) {
      margin: 10px;
      width: auto;
    }
  }
}

.header {
  padding: 20px 10px 20px 24px;
  display: flex;
  border: 1px solid var(--colour-background-dark);
  border-radius: 4px 4px 0px 0px;


  > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.closeButton {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  border: none;
  outline: none;
  background: none;
  overflow: revert;
}

.content {
  padding: 32px 24px;
}

.footer {
  padding: 20px 24px;
  text-align: right;
  border: 1px solid #E6EAEC;
  border-radius: 0px 0px 4px 4px;
}

body {
  --reach-dialog: 1;
}

@keyframes modalSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalOverlayFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}