@import "../constants//index.js";

.commonModal {
  background-color: white;

  &__header {
    padding: 15px 15px 0px;
    display: flex;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 5px;
    }

    .closeButton {
      margin-left: auto;
      margin-right: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 25px;
    }
  }

  &__body {
    padding: 15px;
  }

  &__footer {
    padding: 15px;
    padding-top: 0;
    text-align: right;
  }
}

body {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  z-index: $zIndexModalBackdrop;
  overflow-x: auto;
  animation: modalOverlayFade 0.15s ease;
}

[data-reach-dialog-content] {
  padding: 0;
  margin: 30px auto;
  animation: modalSlideDown 0.3s ease;
}

@keyframes modalSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalOverlayFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  [data-reach-dialog-content] {
    width: 600px;
  }

  [data-reach-dialog-content].commonModal--small {
    width: 300px;
  }
}

@media (min-width: 992px) {
  [data-reach-dialog-content].commonModal--large {
    width: 900px;
  }
}
