@import "../constants/mixins";

.container {
  @include fontStyles(body, 12, true);
  display: inline-block;
  padding: 5px 16px;
  border-radius: 20px;
  background-color: var(--colour-warning-light);
}

.success {
  background-color: var(--colour-success-light);
}

.error {
  background-color: var(--colour-error-light);
}

.warning {
  background-color: var(--colour-warning-light);
}