@import "../../../constants/mixins/index.scss";

.timeInput.input {
  display: block;

  & > input {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid var(--colour-background-dark);
    border-radius: 6px;
    padding: 12px 16px;
    @include fontStyles(body, 16);

    &:hover {
      border: 1px solid var(--colour-primary-200);
      outline: none;
    }

    &:focus {
      border: 1px solid var(--colour-primary-700);
      outline: none;
    }

    &:active {
      border: 1px solid var(--colour-primary-300);
      outline: none;
    }
  }

  &--error {
    & > input {
      border: 1px solid var(--colour-error);
      caret-color: var(--colour-error);

      &:focus,
      &:hover {
        border: 1px solid var(--colour-error);
      }
    }
  }

  &--disabled {
    & > input {
      color: var(--colour-text-400);
      background-color: var(--colour-background);
      border: 1px solid var(--colour-background-dark);

      &:focus,
      &:hover {
        border: 1px solid var(--colour-background-dark);
      }
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 24px;
  color: var(--colour-primary-300);

  &--clear {
    font-size: 16px;
    right: 10px;
    color: var(--colour-text-400);
    cursor: pointer;
    &:hover {
      color: var(--colour-text-200);
    }
  }

  &--bordered {
    right: 40px;
    padding-right: 8px;
    border-right: 1px solid var(--colour-background-lines);
  }

  &--error {
    color: var(--colour-error);
  }

  &--disabled {
    color: var(--colour-background-lines);
  }
}
