.commonPanel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 100px;
  padding: 15px 20px;
  position: relative;

  .titleContainer {
    display: flex;
    flex-direction: row;
  }

  .title {
    margin-bottom: 15px;
    flex-grow: 1;
  }

  .icon {
    font-size: 18px;
    width: 11px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 12px;
  }

  :global(.loadedContent) {
    height: 100%;
  }
}

.clickable {
  cursor: pointer;
}
