.container {
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 35px;
  margin-top: 10px;
  padding: 5px 5px 0 5px;

  > * + * {
    margin-right: 10px;
  }
}

.containerTitle {
  font-weight: bold;
  margin: 5px 5px 0 0;
}

.clearLink {
  box-shadow: none;
  padding: 0;
  color: var(--link-colour);
  display: inline-block;
  background: #fff;
  cursor: pointer;
}

.pillbox {
  background: #e9e9e9;
  padding-left: 6px;
  margin: 0 8px 5px 0;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  text-transform: capitalize;

  b {
    margin-right: 5px;
  }

  &__text {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
  }

  &__icon {
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    margin-left: 5px;
    padding: 5px;

    &:hover {
      background-color: var(--colour-error-300);
    }
  }
}
