@import "../../../constants/mixins/index.scss";

.wrapper {
  min-width: 120px;
  display: flex;
}

.input,
input[type="text"].input,
input[type="number"].input {
  border: 1px solid var(--colour-background-dark);
  border-radius: 6px;
  padding: 12px 16px;
  flex-grow: 1;
  box-shadow: none;

  @include fontStyles(body, 16);
  caret-color: var(--colour-primary-500);

  &:hover {
    border: 1px solid var(--colour-primary-200);
    outline: none;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid var(--colour-primary-700);
    outline: none;
    box-shadow: none;
  }

  &:active {
    border: 1px solid var(--colour-primary-300);
    outline: none;
    box-shadow: none;
  }

  &--error {
    border: 1px solid var(--colour-error);
    caret-color: var(--colour-error);

    &:focus,
    &:hover {
      border: 1px solid var(--colour-error);
    }
  }

  &--disabled {
    color: var(--colour-text-400);
    background-color: var(--colour-background);
    border: 1px solid var(--colour-background-dark);

    &:focus,
    &:hover {
      border: 1px solid var(--colour-background-dark);
    }
  }

  &--truncated {
    padding-right: 32px;
  }
}

.inputContainer {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.unit {
  margin-left: 5px;
  align-self: center;
}
