.paginationController {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .rowPerPageSelector {
    display: flex;
    align-items: center;

    
  
    .dropup {
      margin: 0 10px;
    }

    &__button {
      border: 1px solid #ddd;
      box-shadow: none;
      height: 25px;
      padding: 0;
      width: 55px;
    }
  }

  .paginationPage {
    display: flex;
    flex-direction: row;

    &__input {
      height: 25px;
      width: 35px;
      text-align: center;
      box-shadow: none;
      border: 1px solid #ddd;
      border-radius: 3px;
      font-size: 13px;
    }

    &__button {
      box-shadow: none;
      height: 25px;
      padding: 0 15px;
    }
  }
}
