@import "../css-vars.json";

.commonNavbar {
  height: 60px;
  width: 100vw;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  .validereIcon__container {
    width: 130px;
    height: 100%;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .validereIcon {
    max-width: 130px;
    height: auto;
  }

  .link__container {
    flex-grow: 1;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
    }

    li {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 30px;
    }

    a {
      text-transform: uppercase;
      color: $navLinkColour;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
    }

    .activeSelectionLine {
      position: absolute;
      top: 45px;
      border-bottom: 2px solid #c4c4c4;
      width: 60px;
    }
  }

  .activeSelection {
    position: relative;
    font-weight: bold;
  }

  .profileIcon__container {
    margin-right: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileIcon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #4cacae;
  }
}
