.profilePopover {
  background-color: white;
  border-radius: 3px;
  padding: 5px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.menuItem {
  padding: 3px 20px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  &--disabled {
    cursor: default;
    color: #bbb;

    &:hover {
      background-color: transparent;
    }
  }
}

.menuDivider {
  border-bottom: 1px solid #e5e5e5;
}
