body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  margin-left: 5px;
}

.header {
  font-weight: 500;
  font-size: 25px;
  border-bottom: 1px solid #9e9e9e;
  margin: 25px 0;
  padding-bottom: 7px;
}

.subHeader {
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0;
}

.sections {
  margin-bottom: 30px;
}

.code {
  margin: 5px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 0 10px;
}

.codeblock {
  margin: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 15px 10px;
}

.ReactVirtualized__Grid {
  outline: none;
}

.example {
  padding: 10px;
}