.customTable .customTable__titleContainer {
  width: 100%;
  margin-bottom: 5px;
}

.customTable .customTable__title {
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.customTable .ReactVirtualized__Table__headerRow {
  font-weight: 500;
  border-bottom: 1px solid #e4e4e4;
  color: #808080;
  background-color: #fff0;
}

.customTable
  .ReactVirtualized__Table__headerRow
  .ReactVirtualized__Table__headerColumn {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.customTable
  .ReactVirtualized__Table__headerRow
  .ReactVirtualized__Table__headerColumn
  .icon {
  color: var(--link-colour);
  float: right;
  margin: 5px 15px 0 0;
}

.customTable .ReactVirtualized__Table__row {
  color: #3b3b3b;
  border-bottom: 1px solid #e4e4e4;
  outline: none;
}

.customTable .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.customTable__filterRow {
  height: 30px;
  display: flex;
}

.customTable__filterRow .filterRow {
  display: flex;
  flex-direction: row
}

.customTable__filterRow .validereInputBox {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.datatable__actionRow .csvDownloadButton {
  color: var(--link-colour);
  float: right;
  margin-right: 10px;
  height: 100%;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 0px 15px;
}

.customTable__titleContainer .addButton {
  color: #ffffff;
  background-color: var(--validere-colour);
  margin-right: 10px;
  box-shadow: none;
  padding: 5px 10px;
}

.noDataRow {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
}

.filterRow {
  display: inline;
}

.filterRow .multipleDropdownInputWithSearch {
  margin-right: 10px;
}

.filterRow .multipleDropdownInputWithSearch #input-dropdown-addon {
  border-radius: 3px;
  padding: 3px 5px;
}

.filterRow .dropdownInputWithSearch {
  display: inline-block;
  margin-right: 10px;
}

.filterRow .dropdownInputWithSearch .dropdown {
  display: inline-block;
}

.filterRow .dropdownInputWithSearch .dropdown button {
  padding: 0 5px 0 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
}

.filterRow .dateRangeSelectorContainer {
  color: #555555;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
  height: 31px;
  padding: 2px 6px;
  vertical-align: top;
}

.filterRow .link {
  margin-top: 3px;
}

.listTable .ReactVirtualized__Table {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px;
}

.listTable .ReactVirtualized__Table__headerRow {
  background: #f6f6f6 !important;
  border-bottom: 1px solid #ddd;
}