.LeftSideGrid {
  overflow: hidden !important;
 }
 
.datatable__headerGrid {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  padding-top: 5px;
  width: 100%;
  overflow: hidden !important;
  user-select: none;
}

.datatable__headerGrid .checkbox {
  margin-top: 5px;
}

.datatable {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #fff;
}

.datatable__gridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.datatable__leftSideGridContainer {
  flex: 0 0 60px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
}

.datatable__headerContainer {
  width: 100%;
  overflow: hidden !important;
}

.datatable__header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 .5em;
}

.datatable > .cell,
.datatable__header
{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 0 .5em;
}

.datatable__overlayShadow {
  box-shadow: 3px 0px 11px 0px rgba(0,0,0,0.08);
}

.datatable__sortIcon {
  color: #2196F3;
  margin-left: 10px;
}

.datatable__errorMessage {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  z-index: 10;
}

.datatable__actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datatable__filterRow {
  max-height: 30px;
  display: flex;
}

.datatable__filterRow .filterRow {
  display: flex;
  flex-direction: row;
}

.datatable__filterRow .validereInputBox {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.datatable__actionRow .csvDownloadButton {
  color: #2196f3;
  height: 100%;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 0px 15px;
}

.datatable__actionRow .columnFilterButton {
  display: inline-block;
  margin-right: 5px;
}

.datatable__actionRow .columnFilterButton #input-dropdown-addon {
  color: #2196f3;
  display: inline-block;
  padding: 2px 12px;
  border-radius: 3px;
  margin-right: 5px;
}

.datatable__actionRow .columnFilterButton .dropdown {
  display: inline-block;
}

.datatable__actionRow .columnFilterButton .dropdown-menu-right {
  left: -250px;
}

.datatable .checkbox {
  margin-top: 0;
}

.ReactVirtualized__Grid {
  outline: 0;
}

.datatable__headerCell {
  display: flex;
  justify-content: space-between;
}

.datatable .datatable__headerContent {
  padding-right: 0px;
}

.datatable .datatable__rightPadding {
  padding-right: 20px;
}

.datatable__footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  height: 25px;
  margin: 10px 0;
}

.datatable__filterRow .inputbox-compress {
  border: 1px solid #ddd;
  border-radius: 3px !important;
  box-shadow: none;
  font-family: "Roboto", sans-serif, FontAwesome;
  height: 30px;
  padding-left: 5px;
  width: 125px;
}

.datatable__filterRow .inputbox-compress:focus {
  outline: 0;
  box-shadow: inset 0 -2px 0 #2196f3;
}