.wrapper {
  margin-bottom: 15px;
}

.icon {
  font-size: 24px;
  color: var(--colour-primary-300);

  &--error {
    color: var(--colour-error);
  }

  &--disabled {
    color: var(--colour-background-lines);
  }
}
