.common__breadcrumbs {
  position: absolute;
}

.common__breadcrumbs  .breadcrumb__item {
  background: none;
  border: none;
  display: inline-block;
  outline: none;
  text-transform: capitalize;
}

.breadcrumb__link {
  cursor: pointer;
  color: #2196f3;
}

.breadcrumb__item .icon {
  margin: 0px 10px;
}