@import "../../../constants/mixins/index.scss";

.inputContainer {
  min-width: 120px;
  position: relative;
  display: flex;
  pointer-events: none;
}

.input {
  border: 1px solid var(--colour-background-dark);
  border-radius: 6px;
  padding: 12px 16px;
  flex-grow: 1;
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  pointer-events: none;
  

  @include fontStyles(body, 16);
  caret-color: var(--colour-primary-500);

  &:hover {
    border: 1px solid var(--colour-primary-200);
    outline: none;
  }

  &:focus {
    border: 1px solid var(--colour-primary-700);
    outline: none;
  }

  &:active {
    border: 1px solid var(--colour-primary-300);
    outline: none;
  }

  &--error {
    border: 1px solid var(--colour-error);
    caret-color: var(--colour-error);

    &:focus,
    &:hover {
      border: 1px solid var(--colour-error);
    }
  }

  &--disabled {
    color: var(--colour-text-400);
    background-color: var(--colour-background);
    border: 1px solid var(--colour-background-dark);

    &:focus,
    &:hover {
      border: 1px solid var(--colour-background-dark);
    }
  }

  &--truncated {
    padding-right: 32px;
  }
}
