.page {
  margin: 15px;
  position: relative;

  & > :global(.col-xs-12) {
    padding: 0;
  }

  & :global(.loadedContent > .col-xs-12) {
    padding: 0;
  }
}

.breadcrumbsContainer {
  margin-bottom: 10px;
}

.link {
  color: #45c0c1;
  box-shadow: none;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  padding: 0px;
}

.title {
  display: inline;
}

.titleContainer {
  margin-bottom: 15px;
}
