.page {
  margin: 15px;
  position: relative;
}

.page__link {
  color: #45c0c1;
  box-shadow: none;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  padding: 0px
}

.page__title {
  display: inline;
}

.page__titleContainer {
  margin-bottom: 15px;
}